click==7.1.2
futures==3.3.0
greenlet==0.4.17
joblib==0.14.1
langdetect==1.0.9
msgpack==1.0.0
pynvim==0.4.2
PyYAML==5.3.1
six==1.15.0
trollius==2.2.post1
vboxapi==1.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
